h2{
  font-family: 'Noto Sans', sans-serif;

}

.sub-title {
  font-family: 'Khula', sans-serif;
}


.description {
  font-family: 'Alegreya Sans', sans-serif;
}

div{
  height: 200px;
  width: 200px;
  
}
